@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
*{
    padding: 0;
    margin: 0;
}
main, footer{
    font-family: 'Exo', sans-serif;
}
.caption1{
    font-size: 30px;
    font-weight: 600;
    line-height: 59px;
    font-style: normal; 
    color: rgba(30, 30, 30, 0.941);  
}
.footnote{
    font-size: 11px;
    font-weight: 600;
    line-height: 30px;
    font-style: normal; 
    color: rgb(46, 46, 46);
}
h3{
    font-size: 13px;
    font-weight: 600;
    line-height: 40px;
    font-style: normal; 
    color:#ff6d6d;
    text-transform: uppercase;
}
h4{
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    font-style: normal; 
    text-transform: uppercase;
    margin-top: 10px;
}
.caption{
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    font-style: normal; 
    color: rgba(30, 30, 30, 0.838); 
}
.text{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-style: normal; 
    color: rgba(77, 77, 77, 0.838);  
    margin-top: 20px;
    margin-bottom: 20px;
}
#section1{
    height: 100vh;
    width: 100%;
    background-image: url(./joel-jasmin-forestbird-Zi9yS95gDUQ-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}
#section1 .info{
    height: 50%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.but{
   width: 160px;
   height: 45px;
   border-radius: 3px;
   background-color: #ff6d6d;
   border: #ff6d6d;
}
.but a{
    text-decoration: none;
    color: white;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}
.info img{
    width: 35px;
    height: 35px;
}
#section2{
    height: 100vh;
    /* height: fit-content; */
    display: flex;
}
.info2{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;   
}
.background{
    width: 20%;
    height: 100%;
    background-color: rgb(255, 109, 109);
    background: linear-gradient(135deg, rgb(219, 220, 220) 55%, rgba(255, 109, 109, 1) 45%) center center / 100%  100% no-repeat;
}
#section3{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 231, 231, 0.382);
   
}
.img1{
    
    position: relative;
    z-index: 1;
    left: 110px;
    top: 20px;
    width: 140px;
}
.img2{
    position: relative;
    z-index: 1;
    left: -180px;
    top: -100px;
    width: 200px;
}
.img1 img{
    
    width: 140px;
    transform: rotate(90deg);
}
.img2 img{
    width: 200px;
}
#section3 .content{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 2;
    margin-top: -300px;
    margin-bottom: 50px;
}
.info3{
    text-align: center;
}
.info3-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.info3-1 > div{
    width: 300px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding: 10px; */
}
.info3-1 p{
    text-align: center;
}
#section4{
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.background2{
    width: 100%;
    height: 50vh;
    background-color: white;
    background: linear-gradient(25deg, rgba(255, 109, 109, 1) 40%, white 30%) center center / 100% 100% no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background2 img{
    /* width: 350px; */
    width: 100%;
}
.info4{
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7%;
    margin-top: 20px;
    text-align: center;
}
#section5{
    height: fit-content;
    background-image: url(./resource-database-kGU24dIAQRE-unsplash.jpg);
    background-size: cover;
}
.info5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}
.info5 > div{
    width: 310px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3%;
}
.info5 .text1{
    color: white;
    margin-top: 15px;
    line-height: 35px;
    font-size: 19px;
}
.info5 h5{
    color:  rgb(255, 109, 109);
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 35px;
    font-size: 14px;
}
.info5 .quote{
    color: rgb(201, 201, 201);
    font-style: italic;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    font-size: 15px;
}
.info5 .card1 img{
    filter: invert(30%);
    width: 75px;
}
.info6{
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 3%;
    padding-bottom: 3%; 
}
.info6 > div{
    width: 11%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info6 img{
    width: 100%;
    filter: invert(100%);
}
#section6{
    height: fit-content;
}
.info7{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}
.info7 .text{
    width: 60%;
}
.info8{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 3%;
}
.info8 img{
    width: 75%;
}
#section7{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #323969;
}
#section7 .text{
    color: rgb(204, 204, 204);
    font-weight: 100;
}
#section7 a{
    color: rgb(255, 255, 255);
    font-weight: 100;
}
#section7 h1{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
}
input{
    width: 155px;
    height: 40px;
    border-radius: 3px;
    background-color:#555e9895;
    border: 2px solid #9aa6f0b8;
    margin: 40px 10px 10px 10px;
}
#section7 .but{
    width: 155px;
    height: 45px;
    margin: 40px 10px 10px 10px;
}
input::placeholder{
    color: white;
    text-indent: 15px;
    font-family: 'Exo', sans-serif;
}
.form1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#section7 .but a{
    position: relative;
    bottom: 10px;
}
.arrow{
    display: flex;
    position: relative;
    top: -30px;
    left: 0px;
}
.arrow img{
    filter: invert(100%);
    width: 15%;
}
.arrow p{
    color: white;
    font-size: 11px;
    font-weight: 200;
    font-family: 'Exo', sans-serif;
}
#section8{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: calc(100% - 15px); */
}
#section8 h1{
    margin-bottom: 0%;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
}

#section8 > div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section8 #add2, #section8 #add3{
    width: 50%;
}
#section8 #add1, #section8 .mail{
    width: 100%;   
}
#section8 ul li{
    list-style-type: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    font-style: normal; 
    color: rgba(77, 77, 77, 0.838); 
    text-align: center;
}
#section8 ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    font-style: normal; 
    color: rgba(77, 77, 77, 0.838); 
}
.back2{
    width: 100%;
    height: 100px;
    position: absolute;
    /* top: -300px; */
    z-index: -1;
    background-color: white;
    background: linear-gradient(45deg, white 76%, rgba(255, 109, 109, 1) 48%) center center / 100% 100% no-repeat;
}

#section8 .mail input{
    background-color: #e0e1e7;
    border: 1px solid #969696;
    width: 170px;
    margin: 0 !important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.mail .butfoot{
    display: flex;
    flex-direction: row;
}
.mail .butfoot button{
    background-color: #ff6d6d;
    border: 3px solid  #ff6d6d;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    width: 80px;
   
}
.mail .butfoot button img{
    filter: invert(100%);
}
.mail input::placeholder{
    color: rgb(62, 62, 62);
    text-indent: 15px;
    font-family: 'Exo', sans-serif;
}
#section8 .link{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
.link img{
    padding: 0px !important;
}